body {
    background-image: url(/static/images/npbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}
#homeDiv {
    margin: 0 auto;
    display: center;
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(235, 202, 159, .5);
}

#submit {
    padding: 10px;
    margin-top: 7px;
}

#stateC {
    height: 20px;
}

   
    

