<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Park Finding Through Flask!</title>
    <link rel='stylesheet' href="/static/css/main.css" />
</head>
<body>
    <div id='homeDiv'>
        <h1>
        🌲 ~National Park Finder~🌲
        </h1>
        <h3> Enter State initals below:</h3>
        <form action='/list' method='get'>
            <input id='stateC' name='stateCode' type ='text' maxlength='2'>
            <br />
            <input id='submit' type='submit'>
        </form>
    </div>
</body>
</html>