<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park Details</title>
</head>
<body>
    <div>
        {% for park in parkDetails['data'] %}
            <h1>{{ park['fullName']}}</h1>
            <h3>Fees:</h3>
            <ul>
                <li>{{ park['entranceFees'] }} </li>
            </ul> 
            <h3>Directions:</h3>
            <p>{{ park['directionsInfo']  }}</p>
        {% endfor %}
    </div>
</body>
</html>